/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.card {
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: burlywood;
}

.img {
    border: 5px solid lightgray;
}
.selected {
    border-color: red;
}
