/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
    background-color: lightcyan;
    padding: 1rem;
}

.title {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.nav {
    display: flex;
    gap: 1rem;
}

.link {
    color: purple;
}